<div class="container">
  <ul class="nav-list nav-list--wide">
    <li class="nav-item {{ 'active' if current }}">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
  <article class="post growth-{{ stage }} highlighted">
    <h1 class='post-title'>{{ title }}</h1>
  </article>
</div>
